@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* font-family: "Bree Serif", serif;
font-weight: 400;
font-style: normal; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --AZUL-ESCURO: #000000;
    --AZUL-MEIO: #272727;
    --AZUL: #454546;
    --AZUL-CLARO: #666666;
    --AZUL-CLAROOO: #8c8c8c;
    --AZUL-BRANCO: #ffffff;
    --AZUL-TRNPARENTE: #D5F2F8;
    --BLACK: #000000;
    --b: #000000;

}

/* =============================================================== */
@media (min-width: 1100px) {
    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: var(--AZUL-BRANCO);
    }

    h1 {
      
        font-size: 3.5em;
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }
    h2 {
       
        font-size: 2.5em;
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }

    h3 {
       
        font-size: 2em;
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }

    p {
      
        font-size: 1.2em;
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }
    a{
        text-decoration: none;
        font-family: "Bree Serif", serif;
        
    }

    header {
        background-color: var( --AZUL-CLARO);
        box-shadow: 0px 3px 10px #464646;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
    }
#t{
  color: var(--AZUL-MEIO);
    text-align: center;
    margin: 30px;
    margin-top: 10%;
}
    .nav-bar {
        display: flex;
        flex: auto;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        height: 80px;
        width: 160px;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .nav-item {
        margin: 0 15px;
    }

    .nav-link {
        text-decoration: none;
        font-size: 1rem;
        color: var(--AZUL-BRANCO);
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }

    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

 
    /* =================================TOPIA======================================= */
    /* ===============================REUSEDECOR==================================== */
    /* ============================================================================= */
    #Projeto {
      color: var(--AZUL-MEIO);
        text-align: center;
        margin-bottom: 0;
    }
    #TARANTINO{
        text-align: center;
        color: var(--AZUL-MEIO);
    }

    #Desafio {
      color: var(--AZUL-MEIO);
        text-align: center;
        margin-bottom: 0;
        
    }

    .contaner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: var(--AZUL-CLAROOO);
        padding: 5%;
        margin: 10%;
        margin-top: 0;
        border-radius: 10px;
    }
  

    .p {
        text-align: justify;
        padding: 5%;

    }

    .box1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caixa_pai {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 350px;
        width: 250px;
    }

    .caixa_pai :hover.flip {
        transform: rotateY(180deg);
    }

    .flip {
        position: absolute;
        height: 100%;
        width: 100%;
        cursor: pointer;
        transform-style: preserve-3d;
        transition: transform 1.0s ease, box-shadow 0.6s ease;

    }

    .flip:hover {
        transform: scale(1.1);
        box-shadow: 20px 20px 1px rgba(0, 0, 0, 0.425);
    }

    .frente,
    .tras,
    .frente1,
    .tras1 ,
    .frente2,
    .tras2 {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;

    }

    .frente {
        background-image: url(../img/1.png);
        background-size: cover;


    }

    .tras {
        background-color: var(--AZUL-MEIO);
        transform: rotateY(180deg);
        padding: 10px;
        text-align: center;
    }

    .tras a {
        margin-bottom: 10px;
        margin: 3px;
        text-align: center;
        text-decoration: none;
        color: var(--AZUL-CLAROOO);
    }

    .frente1 {
        background-image: url(../img/2.png);
        background-size: cover;

    }

    .tras1 {
        background-color: #5B6234;
        transform: rotateY(180deg);
        padding: 10px;
        text-align: center;
    }

    .tras1 a {
        margin-bottom: 10px;
        margin: 3px;
        text-align: center;
        text-decoration: none;
        color: var(--AZUL-BRANCO);
    }
    .tras1 h3 {
        
        color: var(--AZUL-BRANCO);
    }
    .frente2 {
        background-image: url(../img/3.png);
        background-size: cover;

    }

    .tras2 {
        background-color: var(--AZUL-MEIO);
        transform: rotateY(180deg);
        padding: 10px;
        text-align: center;
    }

    .tras2 a {
        margin-bottom: 10px;
        margin: 3px;
        text-align: center;
        text-decoration: none;
        color: var(--AZUL-CLAROOO);
    }
    




    /* ============================================================================= */
    /* ==============================NOSSA  HISTÓRIA================================ */
    /* ============================================================================= */
    #Escritorio {
        display: flex;
        justify-content: center;
    }

    .CONTEINER {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: var(--AZUL-CLAROOO);
        padding: 10%;
        /* margin: 10%; */

        border-radius: 10px;
    }

    .CONTEINER p {
        text-align: justify;
    }

    .CONTEINER img {
        height: 150px;

        width: 300px;

    }

    /* ============================================================================= */
    /* =================================MVV========================================= */
    /* ============================================================================= */
    #mvv {
        text-align: center;
    }
    #mvv2{
      color: var(--AZUL-MEIO);
      text-align: center;
    }
    .Falso_body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--AZUL-MEIO);
        height: auto;
        /* padding: 10%;
        margin: 10%; */
    }

    .caixao {
        position: relative;
        width: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
    }

    .caixao .card_equipe {
        position: relative;
        max-width: 300px;
        height: 200px;
        background-color: var(--AZUL-CLARO);
        border-radius: 10px;
        margin: 30px 10px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        box-shadow: 0 5px 20px var(--AZUL-ESCURO);
        transition: 0.3s ease-in-out;
    }

    .caixao .card_equipe:hover {
        height: 750px;
    }

    .caixao .card_equipe .imagens {

        position: relative;
        height: 200px;
        width: 200px;
        top: -60px;
        left: 35px;
        z-index: 1;
        box-shadow: 0 5px 20px var(--AZUL-BRANCO);
    }

    .caixao .card_equipe .imagens img {
        max-width: 100%;
        border-radius: 5px;
    }

    .caixao .card_equipe .caixao_dentro {
        position: relative;
        margin-top: -140px;
        padding: 10px 15px;
        text-align: center;
        color: #000000;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }

    .caixao .card_equipe:hover .caixao_dentro {
        visibility: visible;
        opacity: 1;
        margin-top: 40px;
        transition-delay: 0.3s;
    }
    .caixao_dentro p{
color: var(--AZUL-BRANCO);
    }
    /* .caixao_dentro h2{

    } */


    /* ============================================================================= */
    /* ===========================CLIENTES========================================== */
    /* ============================================================================= */

    #CLIENTES{text-align: center;}

    #Equipe {
        text-align: center;
    }
  
    .teste {
        height: auto;
        display: flex;
    }
    
    .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    
    .cards {
        width: 300px;
        background-color: var(--AZUL-CLAROOO);
        border-radius: 8px;
        overflow: hidden;
        margin: 50px;
        transition: transform 1.0s ease, box-shadow 0.6s ease;
    }
    
    .cards:hover {
        transition: transform 1.0s;
        transform: scale(1.1);
        box-shadow: 10px 10px 1px #8b8b8ba9;
    }
    
    .cards img {
        height: 300px;
        width: 200px;
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }
    
    .content {
        padding: 16px;
    }
    
    .content h3 {
        
        font-weight: 600;
        font-style: normal;
        font-size: 30px;
        margin-bottom: 8px;
        color: var(--AZUL-MEIO);
        text-align: center;
    }
    
    .content p {
        font-family: "Bree Serif", serif;
        display: block;
        text-align: center;
       text-decoration: none;
        font-size: 20px;
        
    }
  
    /* ============================================================================= */
    /* ==========================ESCRITORIO========================================= */
    /* ============================================================================= */

    .ttt {
        margin: 5%;
        background-color: var(--AZUL-CLAROOO);
        padding: 1%;
        border-radius: 10px;
    }

    #e {
        text-align: center;
        margin-bottom: 20px;
    }

    .CONTEINER3 {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin: 5%;
    }

    .CONTEINER3 p {
        font-size: 30px;
    }

    .CONTEINER3 img {
        width: 420px;
        border-radius: 10px;
        transition: transform 1.0s ease, box-shadow 0.6s ease;
    }

    .CONTEINER3 img:hover {
        transition: transform 1.0s;
        transform: scale(1.1);
        box-shadow: 10px 10px 1px #8b8b8ba9;
    }

    /* ============================================================================= */
    /* ==========================Curriculo========================================== */
    /* ============================================================================= */
    #cu {
        text-align: center;
        margin: 20px;
    }

    .CONTEINER4 {

        display: flex;

        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 5%;
        /* background-color: var(--AZUL-CLAROOO);
        padding: 10%;
        margin: 10%;
        border-radius: 10px; */

    }

    .CONTEINER4 img {
        width: 420px;
        border-radius: 10px;
        transition: transform 1.0s ease, box-shadow 0.6s ease;
    }

    .CONTEINER4 img:hover {
        transform: scale(1.1);
        box-shadow: 10px 10px 1px #8b8b8ba9;
    }

    input {
        height: 30px;
        border: var(--AZUL-ESCURO) solid;
        border-radius: 15px;
    }

    .CONTEINER4 button {
        font-family: "Bree Serif", serif;
        height: 30px;
        width: 100px;
        font-size: 20px;
        background-color: transparent;
        border: var(--AZUL-ESCURO) solid;
        border-radius: 15px;
    }

    footer {
        width: 100%;
        color: var(--AZUL-BRANCO);
    }
    
    .footer-link {
        text-decoration: none;
    }
    
    #footer_content {
        background-color: var(--AZUL-MEIO);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 3rem 3.5rem;
    }
    
    #footer_contacts h1 {
        margin-bottom: 0.75rem;
    }
    
    .logofo {
        margin-left: 30px;
    }
    
    .logofo img {
        border-radius: 30px;
        margin-left: 20px;
        cursor: pointer;
    }
    
    #footer_social_media {
        display: flex;
        gap: 2rem;
        margin-top: 1.5rem;
    }
    
    #footer_social_media .footer-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
        color: var(--AZUL-BRANCO);
        border-radius: 50%;
    }
    
    #footer_social_media .footer-link i {
        font-size: 1.25rem;
    }
    
    #footer_social_media .footer-link:hover {
        opacity: 0.8;
    }
    
    #instagram {
        background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    }
    
    #facebook {
        background-color: #4267b3;
    }
    
    #whatsapp {
        background-color: #25d366;
    }
    
    .footer-list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        list-style: none;
    }
    
    .footer-list .footer-link {
        color:var(--AZUL-BRANCO);
        transition: all 0.4s;
    }
    
    .footer-list .footer-link:hover {
        color: var(--b);
    }
    
    #footer_subscribe {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
    #footer_subscribe p {
        color: var(--AZUL-BRANCO);
    }
    
    #input_group {
        display: flex;
        align-items: center;
        background-color: var( --AZUL-BRANCO);
        border-radius: 4px;
    }
    
    #input_group input {
        text-decoration: none;
        all: unset;
        padding: 0.75rem;
        width: 100%;
    }
    
    #input_group button {
        background-color: #25d366;
        border: none;
        color: var(--AZUL-TRNPARENTE);
        padding: 0px 1.25rem;
        font-size: 1.125rem;
        height: 100%;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;
        transition: all 0.4s;
    }
    
    #input_group button:hover {
        transition: 1s;
        opacity: 0.8;
    }
    
    #footer_copyright {
        display: flex;
        justify-content: center;
        background-color: var(--AZUL-ESCURO);
        font-size: 0.9rem;
        padding: 1.5rem;
        font-weight: 100;}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        background-color: blueviolet;
    }

    header {
        background-color: var(--AZUL-BRANCO);
        box-shadow: 0px 3px 10px #464646;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .nav-bar {
        display: flex;
        flex: auto;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        height: 40px;
        width: 80px;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .nav-item {
        margin: 0 15px;
    }

    .nav-link {
        text-decoration: none;
        font-size: 1rem;
        color: var(--AZUL-ESCURO);
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }

    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

}

/* =============================================================== */
@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        background-color: blue;
    }

    header {
        background-color: var(--AZUL-BRANCO);
        box-shadow: 0px 3px 10px #464646;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .nav-bar {
        display: flex;
        flex: auto;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        height: 40px;
        width: 80px;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .nav-item {
        margin: 0 15px;
    }

    .nav-link {
        text-decoration: none;
        font-size: 1rem;
        color: var(--AZUL-ESCURO);
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }

    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

}

/* =============================================================== */
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        background-color: green;
    }

    header {
        background-color: var(--AZUL-BRANCO);
        box-shadow: 0px 3px 10px #464646;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .nav-bar {
        display: flex;
        flex: auto;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        height: 40px;
        width: 80px;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .nav-item {
        margin: 0 15px;
    }

    .nav-link {
        text-decoration: none;
        font-size: 1rem;
        color: var(--AZUL-ESCURO);
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }

    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

}

/* =============================================================== */
@media (max-width: 575.98px) {
    body {
        background-color: var(--AZUL-BRANCO);
        margin: 0;
        max-width:575.98px;
    }

    header {
        background-color: var(--AZUL-CLARO);
        box-shadow: 0px 3px 10px #464646;
        position: fixed;
        width: 100%;
        /* max-width:575.98px; */
        top: 0;
        /* left: 0; */
        z-index: 1000;
        margin: auto;
        max-width:575.98px;
    }
    html, body {
        overflow-x: hidden;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    /* Certifique-se de que os elementos não excedam a largura máxima */
    body, header, main, .contaner, .contanerd, .CONTEINER, footer, #footer_content {
        width: 100%;
        margin: 0 auto;
        max-width: 575.98px;
    }
    
    .nav-bar {
        display: flex;
        justify-content: space-evenly;
        padding: 1.5rem 6rem;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        height: 100px;
        width: 200px;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .nav-item {
        margin: 0 15px;
    }

    .nav-link {
        text-decoration: none;
        /* font-size: 1.15rem; */
        font-size: 1rem;
        color: var(--AZUL-BRANCO);
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }



    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }


    h1 {
        font-size: 3.5em;
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }
    h2 {

        font-size: 2.5em;
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }

    h3 {

        font-size: 2em;
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }

    p {

        font-size: 1.2em;
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }
    a{
        text-decoration: none;
        font-family: "Bree Serif", serif;
    }

    /* =================================TOPIA======================================= */
    /* ===============================REUSEDECOR==================================== */
    /* ============================================================================= */
    #Projeto {
        text-align: center;
        margin-bottom: 0;
        color: var(--AZUL-MEIO);
    }
    #TARANTINO{
        text-align: center;
        color: var(--AZUL-MEIO);
    }

    #Desafio {
      color: var(--AZUL-MEIO);
        text-align: center;
        margin-bottom: 0;
        color: var(--b);
    }
    #t{
      color: var(--AZUL-MEIO);
        text-align: center;
    }

    .contaner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: var(--AZUL-CLAROOO);
        padding: 5%;
        /* margin: 0; */
        margin-top: 0;
        margin: auto;
        max-width:575.98px;
        border-radius: 10px;
    }
    .p {
        text-align: justify;
        padding: 5%;

    }

    .box1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caixa_pai {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 350px;
        width: 250px;
    }

    .caixa_pai :hover.flip {
        transform: rotateY(180deg);
    }

    .flip {
        position: absolute;
        height: 100%;
        width: 100%;
        cursor: pointer;
        transform-style: preserve-3d;
        transition: transform 1.0s ease, box-shadow 0.6s ease;

    }

    .flip:hover {
        transform: scale(1.1);
        box-shadow: 20px 20px 1px rgba(0, 0, 0, 0.425);
    }

    .frente,
    .tras,
    .frente1,
    .tras1 ,
    .frente2,
    .tras2 {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;

    }

    .frente {
        background-image: url(../img/1.png);
        background-size: cover;


    }

    .tras {
        background-color: var(--AZUL-MEIO);
        transform: rotateY(180deg);
        padding: 10px;
        text-align: center;
    }
    .tras h3 {
        color: var(--AZUL-BRANCO);
    }
    .tras p {
        color: var(--AZUL-BRANCO);
    }

    .tras a {
        margin-bottom: 10px;
        margin: 3px;
        text-align: center;
        text-decoration: none;
        color: var(--AZUL-CLAROOO);
    }

    .frente1 {
        background-image: url(../img/2.png);
        background-size: cover;

    }

    .tras1 {
        background-color: var(--AZUL-MEIO);
        transform: rotateY(180deg);
        padding: 10px;
        text-align: center;
    }

    .tras1 a {
        margin-bottom: 10px;
        margin: 3px;
        text-align: center;
        text-decoration: none;
        color: var(--AZUL-CLAROOO);
    }
    .tras1 h3 {
        
        color: var(--AZUL-BRANCO);
    }
    .tras1 p {
        
        color: var(--AZUL-BRANCO);
    }
    .frente2 {
        background-image: url(../img/3.png);
        background-size: cover;

    }

    .tras2 {
        background-color: var(--AZUL-MEIO);
        transform: rotateY(180deg);
        padding: 10px;
        text-align: center;
    }

    .tras2 h3 {
        
      color: var(--AZUL-BRANCO);
  }
  .tras2 p {
      
      color: var(--AZUL-BRANCO);
  }
    .tras2 a {
        margin-bottom: 10px;
        margin: 3px;
        text-align: center;
        text-decoration: none;
        color: var(--AZUL-CLAROOO);
    }
    




    /* ============================================================================= */
    /* ==============================NOSSA  HISTÓRIA================================ */
    /* ============================================================================= */
    #Escritorio {
        display: flex;
        justify-content: center;
    }

    .CONTEINER {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: var(--AZUL-CLAROOO);
        padding: 10%;
        margin: auto;
        max-width:575.98px;

        border-radius: 10px;
    }

    .CONTEINER p {
        text-align: justify;
    }

    .CONTEINER img {
      margin-top: 20%;
        height: 150px;

        width: 300px;

    }

    /* ============================================================================= */
    /* =================================MVV========================================= */
    /* ============================================================================= */
    #mvv {
        text-align: center;
    }

    .Falso_body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--AZUL-MEIO);
        height: auto;
        /* padding: 10%;
        margin: 10%; */
        /* margin: auto;
        max-width:575.98px; */
    }

    .caixao {
        position: relative;
        width: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
    }

    .caixao .card_equipe {
        position: relative;
        max-width: 300px;
        height: 200px;
        background-color: var(--AZUL-CLARO);
        border-radius: 10px;
        margin: 30px 10px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        box-shadow: 0 5px 20px var(--AZUL-ESCURO);
        transition: 0.3s ease-in-out;
    }

    .caixao .card_equipe:hover {
        height: 750px;
    }

    .caixao .card_equipe .imagens {

        position: relative;
        height: 200px;
        width: 200px;
        top: -60px;
        left: 35px;
        z-index: 1;
        box-shadow: 0 5px 20px var(--AZUL-BRANCO);
    }

    .caixao .card_equipe .imagens img {
        max-width: 100%;
        border-radius: 5px;
    }

    .caixao .card_equipe .caixao_dentro {
        position: relative;
        margin-top: -140px;
        padding: 10px 15px;
        text-align: center;
        color: #000000;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }

    .caixao .card_equipe:hover .caixao_dentro {
        visibility: visible;
        opacity: 1;
        margin-top: 40px;
        transition-delay: 0.3s;
    }
    .caixao_dentro p{
      color: var(--AZUL-BRANCO);
          }


    /* ============================================================================= */
    /* ===========================CLIENTES========================================== */
    /* ============================================================================= */

    #CLIENTES{text-align: center;}

    #Equipe {
        text-align: center;
        margin-top: 150px;
    }
  
    .teste {
        height: auto;
        display: flex;
        margin: auto;
        max-width:575.98px;
    }
    
    .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    
    .cards {
        width: 300px;
        background-color: var(--AZUL-CLARO);
        border-radius: 8px;
        overflow: hidden;
        margin: 10%;
        transition: transform 1.0s ease, box-shadow 0.6s ease;
    }
    
    .cards:hover {
        transition: transform 1.0s;
        transform: scale(1.1);
        box-shadow: 10px 10px 1px #8b8b8ba9;
    }
    
    .cards img {
        height: 300px;
        width: 200px;
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }
    
    .content {
        padding: 16px;
    }
    
    .content h3 {
        
        font-weight: 600;
        font-style: normal;
        font-size: 30px;
        margin-bottom: 8px;
        color: var(--AZUL-BRANCO);
        text-align: center;
    }
    
    .content a {
        font-family: "Bree Serif", serif;
        display: block;
        text-align: center;
       text-decoration: none;
        font-size: 20px;
        color: var(--b);
    }
    
    /* ============================================================================= */
    /* ==========================ESCRITORIO========================================= */
    /* ============================================================================= */

    .ttt {
        margin: 4%;
        background-color: var(--AZUL-CLAROOO);
        padding: 1%;
        border-radius: 10px;
        margin: auto;
        max-width:575.98px;
        
    }

    #e {
        text-align: center;
        margin-bottom: 20px;
    }

    .CONTEINER3 {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin: 5%;
    }

    .CONTEINER3 p {
        font-size: 30px;
    }

    .CONTEINER3 img {
        width: 200px;
        border-radius: 10px;
        transition: transform 1.0s ease, box-shadow 0.6s ease;
    }

    .CONTEINER3 img:hover {
        transition: transform 1.0s;
        transform: scale(1.1);
        box-shadow: 10px 10px 1px #8b8b8ba9;
    }

    /* ============================================================================= */
    /* ==========================Curriculo========================================== */
    /* ============================================================================= */
    #cu {
        text-align: center;
        margin: 20px;
    }

    .CONTEINER4 {

        display: flex;
flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 5%;
        margin: auto;
        max-width:575.98px;
        /* background-color: var(--AZUL-CLAROOO);
        padding: 10%;
        margin: 10%;
        border-radius: 10px; */

    }

    .CONTEINER4 img {
        
        width: 200px;
        border-radius: 10px;
        transition: transform 1.0s ease, box-shadow 0.6s ease;
    }

    .CONTEINER4 img:hover {
        transform: scale(1.1);
        box-shadow: 10px 10px 1px #8b8b8ba9;
    }

    input {
        height: 30px;
        border: var(--AZUL-ESCURO) solid;
        border-radius: 15px;
    }

    .CONTEINER4 button {
        font-family: "Bree Serif", serif;
        height: 30px;
        width: 100px;
        font-size: 20px;
        background-color: transparent;
        border: var(--AZUL-ESCURO) solid;
        border-radius: 15px;
    }

    footer {
        margin: auto;
        max-width:575.98px;
        
        color: var(--AZUL-BRANCO);
    }
    
    .footer-link {
        text-decoration: none;
    }
    
    #footer_content {
        margin: auto;
        max-width:575.98px;
        background-color: var(--AZUL-MEIO);
        display: grid;
        grid-template-columns: 1fr;
        padding: 3rem 3.5rem;
    }
    
    #footer_contacts h1 {
        margin-bottom: 0.75rem;
    }
    
    .logofo {
        margin-left: 30px;
    }
    
    .logofo img {
        border-radius: 30px;
        margin-left: 20px;
        cursor: pointer;
    }
    
    #footer_social_media {
        display: flex;
        gap: 2rem;
        margin-top: 1.5rem;
    }
    
    #footer_social_media .footer-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
        color: var(--AZUL-BRANCO);
        border-radius: 50%;
    }
    
    #footer_social_media .footer-link i {
        font-size: 1.25rem;
    }
    
    #footer_social_media .footer-link:hover {
        opacity: 0.8;
    }
    
    #instagram {
        background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    }
    
    #facebook {
        background-color: #4267b3;
    }
    
    #whatsapp {
        background-color: #25d366;
    }
    
    .footer-list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        list-style: none;
    }
    
    .footer-list .footer-link {
        color:var(--AZUL-BRANCO);
        transition: all 0.4s;
    }
    
    .footer-list .footer-link:hover {
        color: var(--b);
    }
    
    #footer_subscribe {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
    #footer_subscribe p {
        color: var(--AZUL-BRANCO);
    }
    
    #input_group {
        display: flex;
        align-items: center;
        background-color: var(--AZUL-BRANCO);
        border-radius: 4px;
    }
    
    #input_group input {
        text-decoration: none;
        all: unset;
        padding: 0.75rem;
        width: 100%;
    }
    
    #input_group button {
        background-color: #25d366;
        border: none;
        color: var(--AZUL-TRNPARENTE);
        padding: 0px 1.25rem;
        font-size: 1.125rem;
        height: 100%;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;
        transition: all 0.4s;
    }
    
    #input_group button:hover {
        transition: 1s;
        opacity: 0.8;
    }
    
    #footer_copyright {
        display: flex;
        justify-content: center;
        background-color: var(--AZUL-ESCURO);
        font-size: 0.9rem;
        padding: 1.5rem;
        font-weight: 100;}

}